
PORT=5000
NODE_ENV=development

MONGO_URI=   mongodb://Akshay101:Akshu10@ac-bsq32l3-shard-00-00.t30uvfy.mongodb.net:27017,ac-bsq32l3-shard-00-01.t30uvfy.mongodb.net:27017,ac-bsq32l3-shard-00-02.t30uvfy.mongodb.net:27017/PixelPlay?ssl=true&replicaSet=atlas-ijd2cd-shard-0&authSource=admin&appName=Cluster0 

JWT_SECRET=Your_long_secure_secret_string123
JWT_EXPIRES_IN=7d

CLIENT_URL=http://localhost:5173

ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=Admin@12345
ADMIN_NAME=Admin


